In [7]:
# import pandas as pd
# import numpy as np
# import sys
# from keras.models import Sequential
# from keras.layers.core import Dense, Activation, Reshape
# from keras.layers.embeddings import Embedding
# from keras.layers import Merge
# print(sys.version_info)

# input_array = np.random.randint(1000, size=(32, 10))

# model = Sequential()
# model.add(Embedding(1000, 64, input_length=10))

# model.compile('rmsprop', 'mse')
# output_array = model.predict(input_array)

# print(output_array)

import numpy as np

ar = np.array((10, 20))
print(ar.shape)

(2,)

In [1]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(data = [['apple', 3, 5, 7], ['banana', 4, 4, 8], ['cherry', 7, 1, 3], ['apple', 3, 4, 7], ['orange', 5, 2, 8], ['peanout', 2, 9, 6]], index= range(6), columns= ['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(data = [['apple', 10, 5, 7], ['banana', 6, 4, 8], ['cherry', np.nan, 1, 3], ['apple', 7, 4, 7], ['orange', np.nan, 2, 8], ['peanout', 2, 9, 6]], index= range(6), columns= ['a', 'b', 'c', 'd'])

print(df1.values[...,0])

['apple' 'banana' 'cherry' 'apple' 'orange' 'peanout']

In [2]:
def pop_std(x):
    return x.std(ddof=0)

result = df.groupby(['a'], as_index=False).agg({'c':['mean',pop_std],'b':'first', 'd':'first'})

result.columns = ['a','c','e','b','d']
result.reindex(columns=sorted(result.columns))

         a  b    c  d    e
0    apple  3  4.5  7  0.5
1   banana  4  4.0  8  0.0
2   cherry  7  1.0  3  0.0
3   orange  5  2.0  8  0.0
4  peanout  2  9.0  6  0.0

In [3]:
np.random.seed(2017)
msk = np.random.rand(len(df)) < 0.1
holdout = df[msk]
train = df[~msk]

In [15]:
import numpy as np
import pandas as pd
import sys

def ComputeAUC(truth, predict):
    ''''''
    n = len(truth)
    #
    pos_num = np.sum(truth)
    neg_num = len(truth) - pos_num
    #
    pairs = zip(truth, predict)
    sorted_pairs = sorted(pairs, key= lambda x: x[1])
    sorted_truth = [s[0] for s in sorted_pairs]
    #
    auc = 0.0
    x = np.zeros((n), dtype= 'float')
    y = np.zeros((n), dtype= 'float')
    x[0] = 1.0
    y[0] = 1.0
    for i in range(1, n):
        a = (n - i - np.sum(sorted_truth[i:n]))/neg_num
        b = np.sum(sorted_truth[i:n])/pos_num
        x[i] = a
        y[i] = b
        auc += ((y[i] + y[i - 1]) * (x[i - 1] - x[i]))/2.0
    auc += (y[n - 1] * x[n - 1])/2.0
    
    return auc

a = [1, 1, 0, 0, 0]
b = [0.8, 0.1, 0.4, 0.6, 0.2]

auc = ComputeAUC(a, b)
print(auc)

0.0
0.166666666667
0.333333333333
0.5
0.5

In [6]:
import numpy as np
R = 3
for i in range(R):
    np.random.seed(2017)
    msk = np.random.rand(10) < 0.2
    np.random.seed(2018)
    print(msk)

[ True False False  True False False  True False False False]
[ True False False  True False False  True False False False]
[ True False False  True False False  True False False False]

In [15]:
from sklearn import *
import pandas as pd
import numpy as np

df = pd.DataFrame(data = [['apple', 3, 5, 7], 
                          ['banana', 4, 4, 8], 
                          ['cherry', 7, 1, 3], 
                          ['apple', 3, 4, 7], 
                          ['orange', 5, 2, 8], 
                          ['peanout', 2, 9, 6], 
                          ['book', 38, 20, 35], 
                          ['dog', 1, 22, 10], 
                          ['bag', 2, 9, 11]], index= range(9), columns= ['a', 'b', 'c', 'd'])
# K = 3
# kf = model_selection.KFold(n_splits = K, random_state = 1, shuffle = True)
# np.random.seed(1)

# for i, (train_index, test_index) in enumerate(kf.split(df)):
#     print('---------- fold %s' % i)
#     print(train_index)
    
from sklearn.preprocessing import LabelBinarizer 
from numpy import array
#from keras.utils import to_categorical

label_binarizer = LabelBinarizer()
label_binarizer.fit(df['a']) 
ret = pd.DataFrame(data= label_binarizer.transform(['apple', 'dog', 'mobile']), 
                   index= range(3), 
                   columns= label_binarizer.classes_)
df = pd.concat([df, ret], axis= 1)
print(df)

['apple' 'bag' 'banana' 'book' 'cherry' 'dog' 'orange' 'peanout']
         a   b   c   d  apple  bag  banana  book  cherry  dog  orange  peanout
0    apple   3   5   7    1.0  0.0     0.0   0.0     0.0  0.0     0.0      0.0
1   banana   4   4   8    0.0  0.0     0.0   0.0     0.0  1.0     0.0      0.0
2   cherry   7   1   3    0.0  0.0     0.0   0.0     0.0  0.0     0.0      0.0
3    apple   3   4   7    NaN  NaN     NaN   NaN     NaN  NaN     NaN      NaN
4   orange   5   2   8    NaN  NaN     NaN   NaN     NaN  NaN     NaN      NaN
5  peanout   2   9   6    NaN  NaN     NaN   NaN     NaN  NaN     NaN      NaN
6     book  38  20  35    NaN  NaN     NaN   NaN     NaN  NaN     NaN      NaN
7      dog   1  22  10    NaN  NaN     NaN   NaN     NaN  NaN     NaN      NaN
8      bag   2   9  11    NaN  NaN     NaN   NaN     NaN  NaN     NaN      NaN