In [1]:
import pandas as pd
import numpy as np
import lightgbm

df = pd.DataFrame(data = [['apple', 3, 5, 7], ['banana', 4, 4, 8], ['cherry', 7, 1, 3], ['apple', 3, 4, 7]], index= range(4), columns= ['a', 'b', 'c', 'd'])
print(df)

        a  b  c  d
0   apple  3  5  7
1  banana  4  4  8
2  cherry  7  1  3
3   apple  3  4  7

In [7]:
def pop_std(x):
    return x.std(ddof=0)

result = df.groupby(['a'], as_index=False).agg({'c':['mean',pop_std],'b':'first', 'd':'first'})

result.columns = ['a','c','e','b','d']
result.reindex(columns=sorted(result.columns))

        a  b    c  d    e
0   apple  3  4.5  7  0.5
1  banana  4  4.0  8  0.0
2  cherry  7  1.0  3  0.0